<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title>My Website</title>
</head>
<body>
<%- include('./template/header.ejs'); %>

<main>
    <h1>in <%= course %> count is <%= courseCount.courseCount %></h1>
</main>

<footer>
    <p>Copyright ©2023 Zakirov</p>
</footer>
</body>
</html>
