<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>My Website</title>
</head>
<body>
<%- include('./template/header.ejs'); %>

<main>
  <h1>JS MVC web app with web service</h1>
  <p>
    Work for lab by Zakirov Mansur
  </p>
</main>

<footer>
  <p>Copyright ©2023 Zakirov</p>
</footer>
</body>
</html>
