
<header>
    <nav>
        <ul>
            <li><a href="/"> Главная</a></li>
            <li><a href="/users/1">Студенты</a></li>
            <li><a href="/majors/1">Специальности</a></li>
            <li><a href="/predmets/1">Предметы</a></li>
            <li><a href="/skipedExamUsers">Пропущенные Экзамены Студентов</a></li>
            <li><a href="/course">Колво студентов по курсам</a></li>
        </ul>
    </nav>
</header>
